<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yuana.kodemetro.com.cargallery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="yuana.kodemetro.com.cargallery.features.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.addcar.AddCarActivity"
            android:label="@string/add_data"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".features.detailcar.DetailActivity"
            android:label="@string/detail_data"
            android:theme="@style/AppTheme" />

        <activity android:name=".features.qrscanner.ScannerActivity" />

        <activity
            android:name=".features.qrscanner.Scanner2Activity"
            android:label="@string/menu_scanner2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>